<% provide(:title, '当サイトについて') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">当サイトについて</h3>
  </div>
  <div class="panel-body">
    <p>
      League of Legends専用のSNSです。<br>
      <%= link_to 'pharuq', 'https://twitter.com/haru_uc?lang=ja', :target=>["_blank"] %>によって運営されています。<br>
    </p>
  </div>
</div>
