<p><%= @user.name %>様</p>

<p>Summoner's Hauntへようこそ！</p>

<p>
下記URLをクリックして、アカウントの有効化を行ってください。
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
