<h1>パスワードリセット</h1>

<p>下記URLをクリックして、パスワードをリセットできます。</p>
<p>URLの有効期限は2時間です。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
