<div class="panel panel-success sidebar_user_friends">
  <div class="panel-heading">
    <h3 class="panel-title">友達</h3>
  </div>
  <div class="panel-body">
    <% @user.friends.each_with_index do |friend,count| %>
      <% break if count == MAX_SHOW_FRIENDS %>
      <dev class="sidebar_thumbs">
        <%= show_middle_thumb(friend) %>
        <%=link_to truncate(friend.name, length: 20), friend %>
      </dev>
    <% end %>

    <dev class="sidebar_index_friends">
      <%= link_to "友達一覧（#{@user.friends.count}）", friends_user_path(@user) %>
    </dev>
  </div>
</div>
