<li>
  <div class="icon">
    <%= show_middle_thumb(community) %>
  </div>
  <div class="name"><%= link_to community.name, community %></div>
  <div class="content"><%= truncate(community.content, length: 200) %></div>
</li>
