<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">メンバー</h3>
  </div>
  <div class="panel-body">
    <% @community.community_members.each_with_index do |friend,count| %>
      <% break if count == MAX_SHOW_FRIENDS %>
      <dev class="sidebar_thumbs">
        <%= show_middle_thumb(friend) %>
        <%=link_to truncate(friend.name, length: 20), friend %>
      </dev>
    <% end %>

    <dev class="sidebar_index_members">
      <%= link_to "メンバー一覧（#{@community.community_members.count}）",
                                                    members_community_path(@community) %>
    </dev>
  </div>
</div>
