<li id="follow_form" class="border-right">
  <% if @community.members?(current_user) %>
    <%= render 'communities/unfollow' %>
  <% else %>
    <%= render 'communities/follow' %>
  <% end %>
</li>
