<%= form_for(@community.communityships.find_by(user_id: @user),
                                                    html: { method: :delete },
                                                    remote: true) do |f| %>
  <div><%= hidden_field_tag :community_id, @community.id %></div>
  <%= f.submit "退会する", class: "btn", data: { confirm: "退会しますか？" } %>
<% end %>
