<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render 'community_info' %>
    </section>
  </aside>
  <div class="col-md-9">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <div class="users">
        <%= render @users %>
      </div>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>
